/* ===== スマホフレーム全体 ===== */
body {
  background: #c7b6a4;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.phone-frame {
  position: relative;
  width: 410px;
  height: 500px;
  background: #000;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  overflow: hidden;
}



/* ===== カメラ映像とスキャンUI ===== */
.qr-screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cameraView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* スキャン枠 */
.scan-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
}

/* 線が上下に動く */
.scan-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00ff99, transparent);
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0% { top: 0; }
  100% { top: 100%; }
}

/* 説明テキスト */
.qr-text {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  z-index: 3;
  text-shadow: 0 0 8px rgba(0,0,0,0.8);
}

.pr-btn {
  position: absolute;
  bottom: 15px;              /* スマホ画面の下 */
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  max-width: 300px;
  padding: 12px 0;

  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;

   background: linear-gradient(135deg, #b33c3c, #5c1a1a);
  border-radius: 25px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 5;                /* カメラより前に */
}

.pr-btn:active {
  transform: translateX(-50%) translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


